#hola{
    border-color: black;
    margin: 100px;
    padding: 30px;
    background-color: tomato;
    color: aqua;
    text-decoration: none;
    text-shadow: 10px;
    border-radius: 2px ;
}

#hola:hover{

    background-color: black;
}

#hola::placeholder{
    background-color: azure;
}

div{
    border: 10;
    padding: 8px;
    background-color: salmon;
    color: aqua;
    margin: 100px;
    }
    div:hover{
        background-color: aliceblue;
    }

    ul{
        background-color: aqua;
        padding: 50px;
        margin: 100px;
        color: blue;
    }