#parrafo{
background-color: brown;
padding: 50px;
margin: 100px;
text-decoration: none;
font-size: medium;
border-radius: 2px;
}
.clase{
background-color: tomato;
padding: 50px;
margin: 100px;
text-decoration: none;
font-size: medium;
border-radius: 2px;
}

h1{
background-color: salmon;
padding: 50px;
margin: 100px;
text-decoration: none;
font-size: medium;
border-radius: 2px;

}